.column{
    top: 30%;
    left: 50px;
    right:50px;
    padding-left: area;
    margin-top: line;
}
.display{
    top: 30%;
    left: 50px;
    right:50px;
    padding-left: area;
    margin-top: line;

}